apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: micro-ingress-srv
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  defaultBackend:
    service:
      name: auth-srv
      port:
        number: 3000
  rules:
    - host: micro.local # Modify hosts file with this domain to point to localhost or minikube ip
      http:
        paths:
          - path: /api/auth/?(.*)
            pathType: Prefix
            backend:
              service:
                name: auth-srv
                port:
                  number: 3000